<%= render "devise/shared/error_messages", resource: resource %>

<div class="login-container">
  <link href="https://fonts.googleapis.com/css?family=Manjari|Monoton&display=swap" rel="stylesheet"></link>
  <div class="form-container">
    <h2 class="forgot-password-title">Change your password</h2>
    <hr class="login-hr"></hr>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input-small" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "input-small" %>
      </div>

      <div class="actions">
        <%= f.submit "Submit", class: "reset-button" %>
      </div>
      <div class="additional-links">
        <%= render "devise/shared/links"%>
      </div>
    <% end %>
  </div>
</div>
